@(form: Form[controllers.FormData])(implicit flash: Flash, messages: Messages)

@main("Welcome to Play") {
    <div class="container">
        <h1>Welcome to Play!</h1>

        @flash.get("message").map { msg =>
            @alert("alert-warning", msg)
        }

        @helper.form(action = routes.HomeController.upload, 'enctype -> "multipart/form-data") {

            <!-- <form action="@routes.HomeController.upload" enctype="multipart/form-data" method="POST"> -->

            <!-- <div class="form-group"> -->
            <!-- <label for="archivo">Archivo</label> -->
            <!-- <input type="file" id="archivo" name="archivo" class="col-sm-6 form-control"> -->
            <!-- <small class="form-text text-muted">Archivo a subir</small> -->
            <!-- </div> -->
            @helper.inputFile( form("archivo") )

            <button type="submit" class="col-sm-2 col-sm-offset-5 btn btn-primary">Subir</button>
            <!-- </form> -->
        }
  </div>
}
