@(form: Form[controllers.FormData], archivos: List[Archivo])(implicit flash: Flash, messages: Messages)

@main("Welcome to Play") {
    <div class="container">
        <h1>Welcome to Play!</h1>

        @flash.get("message").map { msg =>
            @alert("alert-warning", msg)
        }

        <div class="row">

            <div class="col-sm">
                @helper.form(action = routes.HomeController.upload, 'enctype -> "multipart/form-data") {

                    <!-- <form action="@routes.HomeController.upload" enctype="multipart/form-data" method="POST"> -->

                    <!-- <div class="form-group"> -->
                    <!-- <label for="archivo">Archivo</label> -->
                    <!-- <input type="file" id="archivo" name="archivo" class="col-sm-6 form-control"> -->
                    <!-- <small class="form-text text-muted">Archivo a subir</small> -->
                    <!-- </div> -->
                    @helper.inputFile( form("archivo") )

                    <button type="submit" class="col-sm-3 col-sm-offset-4 btn btn-primary">Subir</button>
                    <!-- </form> -->
                }
            </div>
        </div>

        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Hash</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    @defining(new java.text.SimpleDateFormat("yyyy-MM-dd hh:mm:ss")) { sdf =>
                        @for(a <- archivos) {
                            <tr>
                                <td>@a.id</td>
                                <td>@a.name</td>
                                <td>@a.hash</td>
                                <td>@sdf.format(a.fecha)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
  </div>
}
